In [73]:
from pickle import load, dump
import pandas as pd
from scipy.io import loadmat
import shutil, os
from os import listdir, path

In [17]:
# https://towardsdatascience.com/how-to-load-matlab-mat-files-in-python-1f200e1287b5
data = loadmat('all_nd.mat')

In [18]:
data.keys()

dict_keys(['__header__', '__version__', '__globals__', 'features', 'indx', 'leafs', 'mbrs', 'nd'])

In [20]:
data_nd = data['nd']
print(len(data_nd[0]))

10500

In [21]:
data = load(open(r'C:\Users\Shelby\Desktop\UMKC\Academics\Fall20\ComputerVision\Project\all_reduced_data.pkl', 'rb'))
labels = data[1]
print(len(labels))

10500

In [35]:
# https://stackoverflow.com/questions/22005911/convert-columns-to-string-in-pandas
d = {'label':labels, 'nd':data_nd[0]}
df = pd.DataFrame(d)
df['nd'] = df['nd'].astype(str)
df.head()

      label  nd
0  airplane  35
1  airplane  44
2  airplane  35
3  airplane  36
4  airplane  35

In [40]:
# https://cmdlinetips.com/2018/11/how-to-join-two-text-columns-into-a-single-column-in-pandas/
df['class'] = df['label'].str.cat(df['nd'], sep=" ")
df = df.drop(['label','nd'], axis=1)
df.head()

         class
0  airplane 35
1  airplane 44
2  airplane 35
3  airplane 36
4  airplane 35

In [42]:
ex_labels = df['class'].tolist()
dump(ex_labels, open(r'C:\Users\Shelby\Desktop\UMKC\Academics\Fall20\ComputerVision\Project\ex_labels.pkl', 'wb'))

In [48]:
print(df.iloc[0].values[0])

airplane 35

In [ ]:
# Organize data such that each folder contains images with the same label
# For all images:
# If image label folder doesn't exist:
    # create new label folder
# add/copy image to it

# https://stackoverflow.com/questions/49073799/pytorch-testing-with-torchvision-datasets-imagefolder-and-dataloader

In [71]:
def modify_images(imgs_folder, dst_folder):
    indx = 0
    for class_folder in listdir(imgs_folder):
        current_folder = imgs_folder + '/' + class_folder
        for file in listdir(current_folder):
            new_folder = dst_folder + '/' + df.iloc[indx].values[0]
            if not (path.isdir(new_folder)):
                os.mkdir(new_folder)
            src = current_folder + '/' + file
            dst = new_folder
            shutil.copy(src, dst)
            indx += 1

In [74]:
old_folder = r'C:\Users\Shelby\Desktop\UMKC\Academics\Fall20\ComputerVision\Project\NWPU-RESISC45'
new_folder = r'C:\Users\Shelby\Desktop\UMKC\Academics\Fall20\ComputerVision\Project\NWPU-Updated'

modify_images(old_folder, new_folder)

In [75]:
# Number of new classes
print(len(os.listdir(new_folder)))

759